<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>HealthHub Login</title>
</head>
<body>


<h2>HealthHub Login</h2>

<div th:if="${error}" style="color: white; background-color: red; padding: 10px; border: 1px solid darkred; border-radius: 5px; margin-bottom: 10px;">
    <strong th:text="${error}"></strong>
</div>


<form th:action="@{/login}" method="post">
<table>
<tr>
<td>Name:</td>
<td><input type="text" name="name" required /></td>
</tr>
<tr>
<td>Password:</td>
<td><input type="password" name="password" required /></td>
</tr>
<tr>
<td colspan="2">
<button type="submit">Login</button>
<a th:href="@{/register}">Register</a>
</td>
</tr>
</table>
</form>

</body>
</html>