<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Member Modules</title>
</head>
<body>
<h2>Available Modules</h2>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="moduleTableBody">
        <!-- Rows will be added by JavaScript -->
    </tbody>
</table>

<a th:href="@{/member/home}">Back to Home</a>

<script th:inline="javascript">
    /*<![CDATA[*/
    var modules = /*[[${modules}]]*/ [];
    var contextPath = /*[[@{/}]]*/ '';
    
    var tbody = document.getElementById('moduleTableBody');
    
    if (modules.length === 0) {
        tbody.innerHTML = '<tr><td colspan="4">No modules found</td></tr>';
    } else {
        modules.forEach(function(mod) {
            var row = document.createElement('tr');
            row.innerHTML = 
                '<td>' + mod.id + '</td>' +
                '<td>' + mod.title + '</td>' +
                '<td>' + mod.description + '</td>' +
                '<td>' +
                    '<a href="' + contextPath + 'member/modules/view/' + mod.id + '">View</a>' +
                '</td>';
            tbody.appendChild(row);
        });
    }
    /*]]>*/
</script>
</body>
</html>

