<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Professional Modules</title>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>
<body>
<h2>Professional Modules</h2>
<a th:href="@{/professional/module/create}">Create New Module</a>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="moduleTableBody">
        <!-- Rows will be added by JavaScript -->
    </tbody>
</table>

<a th:href="@{/professional/home}">Back to Home</a>

<!-- Hidden data that Thymeleaf can populate -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var modules = /*[[${modules}]]*/ [];
    var contextPath = /*[[@{/}]]*/ '';
    
    // Build table rows
    var tbody = document.getElementById('moduleTableBody');
    
    if (modules.length === 0) {
        tbody.innerHTML = '<tr><td colspan="4">No modules found</td></tr>';
    } else {
        modules.forEach(function(mod) {
            var row = document.createElement('tr');
            row.innerHTML = 
                '<td>' + mod.id + '</td>' +
                '<td>' + mod.title + '</td>' +
                '<td>' + mod.description + '</td>' +
                '<td>' +
                    '<a href="' + contextPath + 'professional/module/edit/' + mod.id + '">Edit</a> | ' +
                    '<a href="' + contextPath + 'professional/module/delete/' + mod.id + '" ' +
                    'onclick="return confirm(\'Are you sure you want to delete this module?\');">Delete</a>' +
                '</td>';
            tbody.appendChild(row);
        });
    }
    /*]]>*/
</script>
</body>
</html>